{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{%block header %}
  {% include 'includes/header.html' %}
{% endblock %}

{% block content %}
    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">{% trans 'Cart' %}
                    </h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="/">home</a>
                        </li>
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Cart' %}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Section">
            <div class="wrap">
                {% if cart %}
                    {% for item in cart %}

                            <div class="Cart-product">
                                <div class="Cart-block Cart-block_row">
                                    <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="{{item.product.get_absolute_url}}"><img class="Cart-img" src="{{ item.product.image_url }}" alt="card.jpg" /></a>
                                    </div>
                                    <div class="Cart-block Cart-block_info"><a class="Cart-title" href="#">{{ item.product.name }}</a>
                                        <div class="Cart-desc">{{ item.product.description|truncatechars:30 }}
                                        </div>
                                        <div class="Cart-block Cart-block_quantity">
                                        <div class="Cart-price">{{ item.quantity }}шт
                                        </div>
                                    </div>
                                        <div class="Cart-block Cart-block_price">
                                        <div class="Cart-price">{{ item.price }}$
                                        </div>
                                    </div>
                                    <div class="Cart-block Cart-block_price">
                                        <div class="Cart-price">Итого:{{ item.total_price }}$
                                        </div>
                                    </div>
                                </div>
                                <div class="Cart-block Cart-block_row">
                                    <div class="Cart-block Cart-block_seller">
                                        <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->

                                    </div>
                                    <div class="ProductCard-cart">
                                        <form method="post" action="{% url 'cart_add' item.product.id  %}">
                                            {{item.update_quantity_form.quantity}}
                                            {{item.update_quantity_form.update}}
                                            {%  csrf_token %}

                                            <div class="ProductCard-cartElement">
                                                <button type="submit" class="btn btn_primary">
                                                <img class="btn-icon" src="{% static 'assets/img/icons/card/cart_white.svg' %}" alt="cart_white.svg"><span class="btn-content">{% trans 'Update' %}</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="Cart-block Cart-block_delete"><a class="Cart-delete" href="{% url 'cart_remove' item.product.id %}"><img src="/static/assets/img/icons/card/delete.svg" alt="delete.svg" /></a>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                {% else %}
                    <div class="Cart-product">
                        <div class="Cart-block Cart-block_row">
                            <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="#"><img class="Cart-img" src="/static/assets/img/icons/cart.svg" alt="card.jpg" /></a>
                            </div>
                            <div class="Cart-block Cart-block_info"><a class="Cart-title" href="#">{% trans 'Корзина пуста' %}</a>

                            </div>

                        </div>

                    </div>
                {% endif %}
                <div class="Account-group">
                    <div class="Account-column Account-column_full">
                        <div class="Order Order_anons">
                            <div class="Order-personal">
                                 <div class="wrap">
                                    <div class="Cart-total">
                                        <div class="Cart-block Cart-block_total">
                                        <strong class="Cart-title">Итого:
                                        </strong><span class="Cart-price">{{ cart.get_total_price }}$</span>
                                        </div>
                                        {% if request.user.is_authenticated %}
                                        <div class="Cart-block"><a class="btn btn_success btn_lg" href="{% url 'order_step_one' %}">Оформить заказ</a>
                                        </div>
                                        {% else %}
                                        <div class="Cart-block"><a class="btn btn_success btn_lg" href="{% url 'order_step_one_anonymous' %}">{% trans 'Checkout' %}</a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% include 'includes/footer.html' %}
{% endblock %}