{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load category_tags %}
{% block header %}
{% include 'includes/header.html' %}
{% endblock %}

{% block content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Catalog Megano
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'index' %}">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Каталог</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Фильтр
              </strong>
            </header>
            <div class="Section-columnContent">
              <form class="form"
                    action="{% url 'catalog_url' %}"
                    method="get"
              >
                {% csrf_token %}
                <div class="form-group">
                  <div class="range Section-columnRange">

                    <!-- Получаем данные по фильтру цены -->
                    <input class="range-line"
                           id="price"
                           name="price"
                           type="text"
                           data-type="double"
                           data-min="{{ CATALOG_MIN_PRICE }}"
                           data-max="{{ CATALOG_MAX_PRICE }}"
                           data-from="{{ CATALOG_MIN_SELECTED_PRICE }}"
                           data-to="{{ CATALOG_MAX_SELECTED_PRICE }}"
                    />
                    <!-- Получаем данные по фильтру цены -->

                    <div class="range-price">Price:&#32;
                      <div class="rangePrice">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input  class="form-input form-input_full"
                          id="search_text"
                          name="search_text"
                          type="text"
                          {% if search_text is None %}
                          placeholder="Название"
                          {% else %}
                          value="{{ search_text }}"
                          {% endif %}
                  />
                </div>
                <div class="form-group">
                  <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
                </div>
                <div class="form-group">
                  <label class="toggle">
                    <input type="checkbox" id="is_exist" name="is_exist" {% if is_exist %}checked{% endif %}/><span class="toggle-box"></span><span
                          class="toggle-text">Только товары в наличии</span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="toggle">
                    <input type="checkbox" id="free_delivery" name="free_delivery"{% if free_delivery %}checked{% endif %}/><span class="toggle-box"></span><span
                          class="toggle-text">С бесплатной доставкой</span>
                  </label>
                </div>
                <div class="form-group">
                  <div class="buttons"><button class="btn btn_square btn_dark btn_narrow" type="submit">Filter</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Популярные категории
              </strong>
            </header>
            <div class="Section-columnContent">
              <div class="buttons">

                  {% get_categories as categories %}
                  {% for cat in categories %}


                <!-- Получаем популярные тэги -->
                <a href="{% url 'menu' %}?slug={{cat.slug}}"  >

                  #{{  cat }}
                </a>


                  {% endfor%}
                <!-- Получаем популярные тэги -->

              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <div class="Sort">
            <form action="{% url 'post' %}" method="post" >
              <div class="Sort-title">Сортировать по:</div>
                {% csrf_token %}
              <p><input type="submit" name="sort" value="Сортировать по:"></p>
              {% for form in sort_form %}
              {{form}}
              {%endfor%}

            </form>
          </div>
          <div class="Cards">
            {% for elem in page_obj %}
            <!-- Получаем товары по фильтрам -->
            <div v-for="" class="Card" >
              <a class="Card-picture" href="{{elem.get_absolute_url}}"><img src="{{ elem.image_url }}" alt="card.title"/></a>
              <div class="Card-content">
                <strong class="Card-title"><a href="{{elem.get_absolute_url}}">{{ elem.name }}</a></strong>
                <div class="Card-description">
                  <div class="Card-cost"><span class="Card-price">{{ elem.price }}</span></div>
                  <div class="Card-category">{{elem.category}}</div>
                  <div class="Card-hover">
                    <div class="Card-hover"><a class="Card-btn" href="{{elem.get_absolute_url}}"><img src="/static/assets/img/icons/card/cart.svg " alt="cart.svg" /></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {%endfor%}
            <!-- Получаем товары по фильтрам -->
          </div>
          <div class="pagination">
            <span class="step-links">
              {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}

              <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>

              {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span>
          </div>


        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block footer %}
{% include 'includes/footer.html' %}
{% endblock %}


