{% extends 'base.html' %}
{% load static %}
{% block header %}
{% include 'includes/header.html' %}
{% endblock %}

{% block content %}
<body class="Site">

            <div class="wrapper">
                <div class="header">
                    <h3 class="sign-in">Вход</h3>
                </div>
                <div class="clear"></div>


                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div>
                        <input class="user-input" type="text" name="username" id="name" placeholder="Логин" />
                    </div>
                    <div>

                        <input type="password" name="password" id="name" placeholder="*********" />
                    </div>
                    <div>
                        <input type="submit" value="Войти" />
                    </div>
                    <a class="forgot-label" href="e-mail.html">Забыли пароль?</a>
                    <a class="registr" href="{% url 'register' %}">Регистрация</a>
                </form>
            </div>

{% endblock %}

    {% block footer %}
        {% include 'includes/footer.html' %}
        {% endblock %}


</body>

</html>