<!--END-->
{% extends 'base.html' %}
{% load static %}
<!--END-->
<!DOCTYPE html>

<!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if IE 10]>
<html class="ie10" lang="ru">
<![endif]-->
<!--[if IE 11]>
<html class="ie11" lang="ru">
<![endif]-->
<!--[if gt IE 11]><!-->
<html lang="ru">
<!--<![endif]-->



{% block content %}
<body class="Site">

            <div class="wrapper">
                <div class="header">
                    <h3 class="sign-in">Вход</h3>
                </div>
                <div class="clear"></div>


                <form action="/login/" method="post">
                    {% csrf_token %}
                    <div>
                        <input class="user-input" type="text" name="username" id="name" placeholder="Логин" />
                    </div>
                    <div>

                        <input type="password" name="password" id="name" placeholder="*********" />
                    </div>
                    <div>
                        <input type="submit" value="Войти" />
                    </div>
                    <a class="forgot-label" href="e-mail.html">Забыли пароль?</a>
                    <a class="registr" href="registr/">Регистрация</a>
                </form>
            </div>

{% endblock %}

    {% block footer %}
        {% include 'includes/footer.html' %}
        {% endblock %}


</body>

</html>