/my_venv/
/my_venv/bin/
/my_venv/lib/
/my_venv/lib/python3.10/
/my_venv/lib/python3.10/site-packages/
/my_venv/lib/python3.10/site-packages/_distutils_hack/
/my_venv/lib/python3.10/site-packages/asgiref/
/my_venv/lib/python3.10/site-packages/asgiref-3.6.0.dist-info/
/my_venv/lib/python3.10/site-packages/django/
/my_venv/lib/python3.10/site-packages/Django-4.1.7.dist-info/
/my_venv/lib/python3.10/site-packages/djangorestframework-3.14.0.dist-info/
/my_venv/lib/python3.10/site-packages/PIL/
/my_venv/lib/python3.10/site-packages/Pillow-9.4.0.dist-info/
/my_venv/lib/python3.10/site-packages/pip/
/my_venv/lib/python3.10/site-packages/pip-22.0.4.dist-info/
/my_venv/lib/python3.10/site-packages/pkg_resources/
/my_venv/lib/python3.10/site-packages/pytz/
/my_venv/lib/python3.10/site-packages/pytz-2022.7.1.dist-info/
/my_venv/lib/python3.10/site-packages/rest_framework/
/my_venv/lib/python3.10/site-packages/setuptools/
/my_venv/lib/python3.10/site-packages/setuptools-58.1.0.dist-info/
/my_venv/lib/python3.10/site-packages/sqlparse/
/my_venv/lib/python3.10/site-packages/sqlparse-0.4.3.dist-info/
/my_venv/lib/python3.10/site-packages/distutils-precedence.pth
/my_venv/pyvenv.cfg
/my_venv/lib/python3.10/
/my_venv/lib/python3.10/site-packages/
/my_venv/lib/python3.10/site-packages/_distutils_hack/
/my_venv/lib/python3.10/site-packages/asgiref/
/my_venv/lib/python3.10/site-packages/asgiref-3.6.0.dist-info/
/my_venv/lib/python3.10/site-packages/django/
/my_venv/lib/python3.10/site-packages/Django-4.1.7.dist-info/
/my_venv/lib/python3.10/site-packages/djangorestframework-3.14.0.dist-info/
/my_venv/lib/python3.10/site-packages/PIL/
/my_venv/lib/python3.10/site-packages/Pillow-9.4.0.dist-info/
/my_venv/lib/python3.10/site-packages/pip/
/my_venv/lib/python3.10/site-packages/pip-22.0.4.dist-info/
/my_venv/lib/python3.10/site-packages/pkg_resources/
/my_venv/lib/python3.10/site-packages/pytz/
/my_venv/lib/python3.10/site-packages/pytz-2022.7.1.dist-info/
/my_venv/lib/python3.10/site-packages/rest_framework/
/my_venv/lib/python3.10/site-packages/setuptools/
/my_venv/lib/python3.10/site-packages/setuptools-58.1.0.dist-info/
/my_venv/lib/python3.10/site-packages/sqlparse/
/my_venv/lib/python3.10/site-packages/sqlparse-0.4.3.dist-info/
/my_venv/lib/python3.10/site-packages/distutils-precedence.pth
