{% load static %}
{% load i18n %}
{% load category_tags %}

{% include 'includes/menu_head.html' %}
<div class="Header-searchWrap">
      <div class="wrap">
        <div class="Header-categories">
          <div class="CategoriesButton">
            <div class="CategoriesButton-title">
              <div class="CategoriesButton-icon"><img src="{% static 'assets/img/icons/allDep.svg' %}" alt="allDep.svg"/>
              </div><span class="CategoriesButton-text">All Departments</span>
              <div class="CategoriesButton-arrow">
              </div>
            </div>
            <div class="CategoriesButton-content">
                {% get_categories as categories %}
                {% for cat in categories %}
              <!-- Получаем категории и подкатегории  -->

              <div class="CategoriesButton-link" v-for="category in categories"><a href="{% url 'menu' %}?slug={{cat.slug}}">
                <div class="CategoriesButton-icon"><img :src="{{cat.icon_url}}" :alt="cat.image.alt" />
                </div><span class="CategoriesButton-text">${{ cat.name }}$</span></a>





              </div>
                {% endfor %}
            </div>
          </div>
        </div>
        <div class="Header-searchLink"><img src="{% static 'assets/img/icons/search.svg' %}" alt="search.svg"/>
        </div>
        <div class="Header-search">
          <div class="search">
            <form class="form form_search" action="{% url 'search' %}" method="get" >
              <input class="search-input"  name="q" type="text"  placeholder="What are you looking for ..."/>
              <button class="search-button" type="submit" ><img src="{% static 'assets/img/icons/search.svg' %}" alt="search.svg"/>Search
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
